@import '../lib/material-colors';

$themes: (
    default: (
        /* Text Colors */
        text-primary: #000000,
        text-secondary: material-color('grey', '500'),
        text-error: #E53935,
        text-highlight: material-color('teal', '500'),

        /* Background Colors */
        background: #FFFFFF,
        panel-background: #EFECEB,
        theme-background: #5F453D,
        theme-light-background: #795548,
    ),
    dark: (
        /* Text Colors */
        text-primary: #DDDDDD,
        text-secondary: #575774,
        text-error: #E53935,
        text-highlight: #6078F5,

        /* Background Colors */
        background: #19192C,
        panel-background: #373751,
        theme-background: #6078F5,
        theme-light-background: #90CAF9,
    )
);

// https://medium.com/@katiemctigue/how-to-create-a-dark-mode-in-sass-609f131a3995
@mixin themed() {
    @each $theme, $map in $themes {
        :global(.theme_#{$theme}) {
            $theme-map: () !global;
            @each $key, $submap in $map {
                $value: map-get(map-get($themes, $theme), '#{$key}');
                $theme-map: map-merge($theme-map, ($key: $value)) !global;
            }
            @content;
            $theme-map: null !global;
        }
    }
}
  
@function t($key) {
    @return map-get($theme-map, $key);
}