@import 'color';

@mixin link {
    a {
        color: t(text-primary);
        &:hover {
            color: t(text-highlight-on);
        }
        text-decoration: none;
        vertical-align: middle;
        cursor: pointer;
    }
    
    color: t(text-primary);
    &:hover {
        color: t(text-highlight-on);
    }
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
}

@mixin mobile_link {
    a {
        color: t(text-primary);
        text-decoration: none;
        vertical-align: middle;
    }
    
    color: t(text-primary);
    text-decoration: none;
    vertical-align: middle;
}