@import 'utils/colors';

@mixin link {
    a {
        color: $text-primary;
        &:hover {
            color: $text-secondary;
        }
        text-decoration: none;
        vertical-align: middle;
        cursor: pointer;
    }
    
    color: $text-primary;
    &:hover {
        color: $text-secondary;
    }
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
}