@import '../mixins/all';

.DataPanel {

    flex: 1;

    background-color: #263238;
    color: #EEE;

    overflow-x: hidden;
    overflow-y: auto;

    padding: 24px;
    @include flexbox(column, $center: true);

    .content {
        width: 80%;
        height: 80%;
        @include flexbox(column, $center: true);
    }

}