@import '../mixins/all';

.HistoryEditor {

    flex: 1;
    background-color: #01579B;
    color: #EEE;

    .content_wrapper {
        padding: 12px;
        @include flexbox(column, $center: false);
        .title {
            margin-bottom: 12px;
        }
        .item {
            padding-left: 12px;
            @include flexbox(row, $center: true);
            span {
                flex: 1;
            }
            .item_button {
                padding: 3px 6px;
                cursor: pointer;
                background-color: #373751;
                transition: background-color .15s;
            }
            .item_button:hover {
                background-color: #6078F5;
            }
            .item_button + .item_button {
                margin-left: 6px;
            }
            .button_selected {
                background-color: #6078F5;
            }
        }
    }

}