@import '../mixins/all';

.HistoryDetail {

    flex: 1 1 auto;
    overflow-x: hidden;
    overflow-y: auto;
    height: 0px;

    .content {
        display: grid;
        grid-template-columns: 1 1;
        .grid_item {
            
        }
        .grid_item_time {
            grid-column: 1;
        }
        .grid_item_change {
            grid-column: 2;
        }
        .grid_item_delete {
            grid-column: 3;
        }
    }

}