@import '../mixins/all';

.Selector {

    @include flexbox(column, $center: false);

    margin: 12px 0 0 12px;
    border: 1px solid #4DD0E1;

    .item {
        padding: 3px 6px;
        background-color: #00838F;
        transition: background-color .3s;
        cursor: pointer;
        @include flexbox(row, $center: false);
        span {
            margin-right: 6px;
        }
    }

    .item + .item {
        border-top: 1px solid #4DD0E1;
    }

    .item:hover {
        background-color: #00ACC1;
    }

    .item_selected {
        background-color: #00ACC1;
        cursor: default;
    }

}