@import 'mixins/all';

@include themed() {
    &.App {
        background: t(background);
        min-height: 100vh;
        position: relative;
        @include flexbox(column, $center: false);
    }

    .App__wrapper {
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
    }
}