@import 'utils/colors';
@import 'mixins/all';

.CreditPage {

    margin: auto;

    padding: 50px;
    background-color: $panel-background;

    @include flexbox(column, $center: true);

    h1, h2, h3, h4, h5, h6, p {
        font-weight: normal;
        text-align: center;
    }

}