@import 'mixins/all';

@include themed() {
    .CreditPage {

        margin: auto;
        width: 500px;

        padding: 50px;

        background-color: t(panel-background);
        color: t(text-primary);

        @include flexbox(column, $center: true);

        h1, h2, h3, h4, h5, h6, p {
            font-weight: normal;
            text-align: center;
        }

    }
}