@import 'mixins/all';

@include themed() {

    .ErrorHandlingPanel {

        width: 100%;
        height: 100%;

        &.ErrorHandlingPanel__use_background {
            background: t(panel-background);
        }

        border-radius: 6px;

        margin: auto;

        color: t(text-primary);

        @include flexbox(column, $center: true);

    }

}
