@import 'mixins/all';

@include themed() {
    .FullScreenPanel {

        width: 100%;
        height: 100%;

        @include flexbox(column, $center: true);

        color: white;

        .FullScreenPanel__content {

            width: 100%;
            margin: auto 0;

            .FullScreenPanel__arrow {
                margin: 0 20px;
                cursor: pointer;
            }
            
            @include flexbox(row, $center: true);
            
            img {
                margin: 0 auto;
                padding: 0 5vw;
            }

        }

        .FullScreenPanel__footer {
            
            margin-bottom: 20px;
            
            @include flexbox(row, $center: true);

            .FullScreenPanel__dot {
                width: 6px;
                height: 6px;
                border-radius: 3px;
                margin: 0 4px;
                background-color: white;
            }

            .FullScreenPanel__dot_highlight {
                background-color: #6078F5;
            }

        }

    }
}