@import 'mixins/all';

@include themed() {
    .GridElementPanel {
        
        border-radius: 5px;
        overflow: hidden;
        background-color: t(panel-background);

        @include flexbox(row, $center: true);

        img {
            opacity: 1;
            &:hover {
                opacity: 0.5;
            }

            cursor: pointer;
        }

        position: relative;

        .overlap {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.6);
            cursor: pointer;

            &:hover {
                background-color: rgba(0, 0, 0, 0.4);
            }

            color: white;
            font-size: 60px;

            text-align: center;

            @include flexbox(row, $center: true);

        }

    }
}