@import 'mixins/all';

@include themed() {
    .HeaderMobile {

        z-index: 50;
        @include flexbox(column, $center: false);
        box-shadow: 0 5px 15px t(panel-background);
        background-color: t(background);

        .HeaderMobile__bar {
            height: 5px;
            background-color: t(theme-background);
        }

        .HeaderMobile__content {

            height: 50px;
            @include flexbox(row, $center: false);

            .HeaderMobile__logo {
                margin: 11px 0 12px 24px;
                @include flexbox(row, $center: false);
            }

            .HeaderMobile__common_menu {
                margin: 17px 24px 17px auto;
                height: 14px;
                font-size: 14px;
                
                @include flexbox(row, $center: true);
                color: t(text-primary);
            }

        }
        
        .HeaderMobile__dropdown {
            
            padding: 0 36px;
            color: t(text-primary);

            border-bottom: .5px solid t(panel-background);

            transition: 
                max-height .5s ease-out,
                padding-top .5s ease-out,
                padding-bottom .5s ease-out;

            max-height: 0;
            overflow: hidden;
            &.HeaderMobile__dropdown_open {
                max-height: 256px;
                padding-top: 24px;
                padding-bottom: 24px;
            }

            .HeaderMobile__dropdown_group {

                .HeaderMobile__dropdown_item {
                    font-size: 14px;
                    line-height: 18px;
                    @include mobile_link;
                    @include flexbox(row, $center: false);
                }

                .HeaderMobile__dropdown_item + .HeaderMobile__dropdown_item {
                    padding-top: 18px;
                }

            }

            .HeaderMobile__dropdown_group + .HeaderMobile__dropdown_group {
                padding-top: 30px;
            }

        }

    }
}