@import 'mixins/all';
@import 'utils/colors';

.Header {

    display: flex;
    flex-direction: column;

    .Header__bar {
        height: 5px;
        background: $theme-background;
    }

    .Header__content {

        height: 50px;
        display: flex;
        flex-direction: row;

        .Header__logo {
            margin: 11px 0 12px 24px;
            display: flex;
            align-items: center;
        }
        
        .Header__menu {
            margin: 17px 0 18px 24px;
            height: 15px;
            font-size: 15px;

            display: flex;
            align-items: center;
            @include link();
        }

        .Header__menu + .Header__menu {
            margin-right: 24px;
        }
    
        .Header__common_menu {
            margin: 17px 24px 17px 0;
            margin-left: auto;
            height: 14px;
            font-size: 14px;
            
            display: flex;
            align-items: center;
            @include link();
        }

    }

}