@import 'mixins/all';

@include themed () {
    .Input {
        
        margin: 0;
        @include desktop-screen {
            padding: 2px 4px;
            border-radius: 2px;
            font-size: 12px;
            line-height: 15px;
            @include wide-screen {
                padding: 3px 6px;
                border-radius: 6px;
                font-size: 15px;
                line-height: 22px;
            }
        }
        @include mobile-screen {
            padding: 3px 6px;
            border-radius: 3px;
            font-size: 16px;
            line-height: 20px;
        }
        color: t(text-primary);
        background-color: t(background);
        flex: 1;
        min-width: 160px;
        @include wide-screen {
            min-width: 240px;
        }

        border: none;

        &::placeholder {
            font-style: italic;
            color: t(text-secondary);
            @include desktop-screen {
                font-size: 11px;
                @include wide-screen {
                    font-size: 17px;
                }
            }
            @include mobile-screen {
                font-size: 14px;
            }
        }

        &:focus {
            outline-color: t(text-highlight-on);
        }

    }
}