.LandingPage {

    margin: auto;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    color: #343434;

    .LandingPage__post {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
    }

    .LandingPage__room {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        
        margin: 64px auto;
    }

}