@import 'mixins/all';

.LandingPage {

    width: 100vw;
    max-width: 1044px;
    margin: auto;

    @include flexbox(column, $center: true);

    color: #343434;

    .LandingPage__container {
        width: 100%;
        height: calc(100vh - 100px);
        @include flexbox(row, $center: true);
        @include mobile-screen {
            height: auto;
            @include flexbox(column, $center: true);
        }

        .LandingPage__item {
            width: calc(50% - 32px);
            max-width: 440px;
            height: 100%;
            padding: 0 32px;
            @include mobile-screen {
                width: calc(100% - 66px);
                max-width: none;
                padding: 32px 33px;
            }
            @include flexbox(column, $center: true);
        }
    }

    .LandingPage__container + .LandingPage__container {
        margin-top: 50px;
    }

}