html, body {
    min-height: 100vh;
}

body {
    margin: 0;
    display: flex;
}

#root {
    width: 100%;
    min-width: 1080px;
    display: flex;
    flex-direction: column;
    justify-items: center;
}