@import 'lib/fonts';
@import 'utils/colors';

html, body {
    min-height: 100vh;
    background: $background;
}

body {
    margin: 0;
    display: flex;
    font-family: 'Roboto', sans-serif;
}

#root {
    width: 100%;
    min-width: 1080px;
    display: flex;
    flex-direction: column;
    justify-items: center;
}