html, body { 
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    display: flex;
}

#root {
    width: inherit;
    display: flex;
    flex-direction: column;
    min-width: 600px;
}