@import 'mixins/all';

@include themed() {
    .MaterialIcon {

        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 20px;  /* Preferred icon size */

        &.MaterialIcon__md10 {
            font-size: 10px;
        }

        &.MaterialIcon__md15 {
            font-size: 15px;
        }

        &.MaterialIcon__md36 {
            font-size: 36px;
        }

        &.MaterialIcon__md48 {
            font-size: 48px;
        }

        /* Support for all WebKit browsers. */
        -webkit-font-smoothing: antialiased;
        /* Support for Safari and Chrome. */
        text-rendering: optimizeLegibility;
      
        /* Support for Firefox. */
        -moz-osx-font-smoothing: grayscale;
      
        /* Support for IE. */
        font-feature-settings: 'liga';

    }
}