@import 'mixins/all';
@import 'utils/colors';

.NoticePanel {

    width: 440px;
    height: 121px;

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        li {
            font-size: 10px;
            margin-bottom: 10px;
        }
    }

    .NoticePanel__item {

        display: flex;
        flex-direction: row;

        .NoticePanel__item_title {
            font-size: 15px;
            @include link();
        }

        .NoticePanel__item_views {
            font-size: 12px;
        }

        .NoticePanel__item_date {
            margin-left: auto;
            font-size: 15px;
            color: $text-secondary;
        }

    }

}