@import 'mixins/all';

@include themed() {
    .NotiEditorDesktop {

        @include flexbox(column, $center: false);
        pointer-events: auto;

        .container {
            @include flexbox(row, $center: false);
            align-items: flex-start;
            overflow: hidden;
            transition: margin .3s ease-in-out,
                        padding .3s ease-in-out,
                        max-width .3s ease-in-out,
                        max-height .3s ease-in-out;
            .icon {
                width: 24px;
                height: 24px;
                border-radius: 12px;
                font-size: 24px;
                color: t(text-primary);
                @include flexbox(row, $center: true);
                @include wide-screen {
                    border-radius: 15px;
                    width: 30px;
                    height: 30px;
                    font-size: 36px;
                }
            }
            .clickable {
                cursor: pointer;
                &:hover {
                    color: t(theme-background);
                }
            }
            .item {
                padding-left: 9px;
                @include wide-screen {
                    padding-left: 13px;
                }
                color: t(text-primary);
            }
            .edit_wrapper {
                @include flexbox(column, $center: false);
                align-items: stretch;
                padding-top: 4px;
                padding-bottom: 4px;
                input + input {
                    margin-top: 4px;
                    @include wide-screen {
                        margin-top: 6px;
                    }
                }
                span {
                    color: t(text-error);
                    font-size: 12px;
                    margin-top: 4px;
                    @include wide-screen {
                        font-size: 15px;
                        margin-top: 6px;
                    }
                }
            }
        }

        .non_active {
            max-width: 24px;
            max-height: 24px;
            margin: 4px auto 4px 8px;
            padding: 0;
            @include wide-screen {
                max-width: 36px;
                max-height: 36px;
                margin: 6px auto 6px 10px;
            }
        }

        .active {
            max-width: 250px;
            max-height: 70px;
            margin: 0 auto 0 7px;
            padding: 1px;
            border-radius: 11px;
            @include wide-screen {
                max-width: 360px;
                max-height: 100px;
                margin: 0 auto 0 7px;
                padding: 3px;
                border-radius: 18px;
            }
            background-color: rgba(t(text-secondary), 0.5);
        }

    }
}