@import 'mixins/all';

@include themed() {
    .NotiEditor {

        @include flexbox(column, $center: false);
        @include mobile-screen {
            margin-bottom: 0;
        }

        .container {
            margin: 4px auto 4px 10px;
            &.background {
                margin: 0 auto 0 6px;
                padding: 4px;
                border-radius: 14px;
                background-color: rgba(t(text-secondary), 0.5);
            }
            .icon {
                border-radius: 10px;
                width: 20px;
                height: 20px;
                color: t(text-secondary);
                background-color: rgba(t(text-primary), 0.7);
                @include flexbox(row, $center: true);
                @include wide-screen {
                    border-radius: 15px;
                    width: 30px;
                    height: 30px;
                }
                &.clickable {
                    cursor: pointer;
                    &:hover {
                        background-color: t(theme-background);
                    }
                }
            }
        }

        .non_active {

        }

        .active {

        }

    }
}