@import 'mixins/all';

.PanelHeader {

    margin-bottom: 46px;

    .PanelHeader__title {
        font-style: normal;
        font-weight: 900;
        font-size: 30px;
        line-height: 35px;
    }

}