@import 'mixins/all';

.PanelHeader {

    margin-bottom: 46px;
    display: flex;
    flex-direction: row;

    .PanelHeader__title {
        font-style: normal;
        font-weight: 900;
        font-size: 30px;
        line-height: 35px;
    }

    // .PanelHeader__link {
    //     margin-left: auto;
    //     font-size: 13px;
    //     @include link();
    // }

}