@import 'mixins/all';
@import 'utils/colors';

.PanelHeader {

    margin-bottom: 46px;

    color: $text-primary;

    .PanelHeader__title {
        font-style: normal;
        font-weight: 900;
        font-size: 30px;
        line-height: 35px;
    }

}