@import 'mixins/all';

@include themed() {
    .PanelFooter {

        margin-top: auto;

        @include flexbox(row, $center: true);

        .PanelFooter__page {
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 18px;
            text-align: center;

            color: t(text-highlight);
            
            @include flexbox(row, $center: true);

            padding: 0 4px;
        }
        
        .PanelFooter__link {
            @include link;
            @include flexbox(row, $center: true);
            svg {
                fill: t(text-primary);
            }
        }

    }
}