@import 'mixins/all';

@include themed() {
    .PanelHeader {

        width: 100%;
        margin-bottom: 46px;
        @include mobile-screen {
            margin-bottom: 15px;
        }

        color: t(text-primary);

        .PanelHeader__title {
            font-style: normal;
            font-weight: 900;
            font-size: 30px;
            line-height: 35px;
            @include mobile-screen {
                font-size: 18px;
                line-height: 21px;
            }
        }

    }
}