@import 'mixins/all';

@include themed() {
    .PostPageView {

        width: 980px;

        margin: auto;
        padding: 50px;

        .PostPageView__content {
                
            padding: 42px 0;
            
            color: t(text-primary);

            p {
                font-size: 15px;
                line-height: 24px;
                margin: 0;
            }

            p + p {
                margin-top: 30px;
            }

        }

    }
}