@import 'mixins/all';

@include themed() {
    .PostPage {

        width: 980px;

        margin: auto;
        padding: 50px;

        .PostPage__header {

            h1 {
                font-size: 24px;
                line-height: 28px;
                color: t(text-primary);   
                margin: 0;
            }

            .PostPage__tags {

                margin-top: 13px;
                span {
                    font-size: 15px;
                    line-height: 18px;
                    color: t(text-secondary);
                    margin: 0;
                }
                span + span {
                    margin-left: 8px;
                }

            }

        }

        .PostPage__content {
                
            padding: 42px 0;
            
            color: t(text-primary);

            p {
                font-size: 15px;
                line-height: 24px;
                margin: 0;
            }

            p + p {
                margin-top: 30px;
            }

        }

    }
}