@import 'mixins/all';

@include themed() {

    .RoomStatePanel {

        position: absolute;
        top: 0;
        left: 30px;

        .RoomStatePanel__room_empty {
            fill: t(panel-background);
        }

        .RoomStatePanel__room_filled {
            fill: t(theme-background);
        }

        .RoomStatePanel__room_null {
            fill: t(inactive-background);
        }

        .RoomStatePanel__room_highlight {
            stroke: t(theme-light-background);
            stroke-width: 1px;
        }

    }

}