@import 'mixins/all';

@include themed() {
    .RoomLegendPanel {
        position: absolute;
        bottom: 200px;
        left: 0;
        padding: 10px;
        margin: 5px;
        border-radius: 5px;
        border: 1px solid t(text-primary);
        @include flexbox(column, $center: true);
        .RoomLegendPanel__row {
            align-self: stretch;
            padding: 4px 10px;
            @include flexbox(row, $center: false);
            .RoomLegendPanel__square {
                border: .5px solid t(text-primary);
                width: 16px;
                height: 16px;
                &.RoomLegendPanel__empty {
                    background-color: t(panel-background);
                }
                &.RoomLegendPanel__filled {
                    background-color: t(theme-background);
                }
                &.RoomLegendPanel__null {
                    background-color: t(inactive-background);
                }
            }
            .RoomLegendPanel__text {
                color: t(text-primary);
                line-height: 18px;
                font-size: 14px;
                padding-left: 10px;
            }
            &:hover {
                .RoomLegendPanel__square {
                    border-color: t(text-highlight-on);
                }
                .RoomLegendPanel__text {
                    color: t(text-highlight-on);
                }
            }
        }

    }
}