@import 'mixins/all';

@include themed() {

    .RoomPanel {

        position: relative;

        border-radius: 6px;
        width: 600px;
        height: calc(100vh - 180px);

    }

}