@import 'mixins/all';

@keyframes fillColorChange {
    
    0%      {fill: #6078F5; transform: scale(1);}
    12%     {fill: #4C82A2; transform: scale(1.03);}
    25%     {fill: #47D2B1; transform: scale(1);}
    37%     {fill: #FFF4E8; transform: scale(1.03);}
    50%     {fill: #FFE44B; transform: scale(1);}
    62%     {fill: #FF2369; transform: scale(1.03);}
    75%     {fill: #A01789; transform: scale(1);}
    87%     {fill: #6430B8; transform: scale(1.03);}
    100%    {fill: #1B2272; transform: scale(1);}

}

@include themed() {

    .RoomStatePanel {
        overflow: visible;
        position: absolute;
        top: 0;
        left: 30px;

        .RoomStatePanel__room_empty {
            fill: t(panel-background);
        }

        .RoomStatePanel__room_filled {
            fill: t(theme-background);
        }

        .RoomStatePanel__room_null {
            fill: t(inactive-background);
        }

        .RoomStatePanel__room_highlight {
            filter: drop-shadow(1px 4px 8px rgba(0,0,0,0.2)) brightness(0.9);         
        }

        .RoomStatePanel__room_filled_animation {
            animation: fillColorChange 2s infinite;
            filter: drop-shadow(1px 4px 8px rgba(0,0,0,0.2));
        }

    }

}