@import 'mixins/all';

@include themed() {
    .RoomPanel {

        position: relative;
        width: 100%;
        height: 100%;
        min-height: 600px;
        margin: 50px;

        @include mobile-screen {
            height: auto;
            margin: 0;
            @include flexbox(column, $center: true);
            min-height: 0;
        }

        .mobile_common_menu {
            @include flexbox(row, $center: false);
            line-height: 13px;
            font-size: 11px;
            margin-top: auto;
            .icon {
                color: t(text-highlight);
            }
            .text {
                color: t(text-highlight);
            }
        }

        .desktop_legend {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 10px;
            margin: 5px;
        }

        .mobile_legend {
            margin-top: 15px;
            align-self: stretch;
        }

    }
}