@import 'mixins/all';

@include themed() {

    .RoomStatePanel {

        position: absolute;
        top: 0;
        left: 30px;

        .RoomStatePanel__room_empty {
            fill: t(panel-background);
        }

        .RoomStatePanel__room_filled {
            fill: t(theme-background);
        }

        .RoomStatePanel__room_null {
            fill: t(inactive-background);
        }

        .RoomStatePanel__room_highlight {
            filter: drop-shadow(1px 4px 8px rgba(0,0,0,0.2)) brightness(0.9);          
        }

    }
    
}