@import 'mixins/all';

@include themed() {
    .WritePage {

        margin: auto 0;

        padding: 40px 0;

        @include flexbox(column, $center: true);

        .WritePage__footer {

            width: 800px;
            height: 50px;
            margin-top: 24px;

            @include flexbox(row, $center: false);
            align-items: center;

            .WritePage__button {

                @include flexbox(row, $center: true);

                margin-left: auto;

                cursor: pointer;

            }

            .WritePage__button + .WritePage__button {
                margin-left: 8px;
            }

        }

    }
}