@import '../lib/material-colors';

/* Text Colors */
$text-primary:#000000;
$text-secondary: material-color('grey', '500');
$text-error: #E53935;

/* Background Colors */
$background: #FFFFFF;
$panel-background: #EFECEB;
$theme-background: #5F453D;
$theme-light-background: #795548;